* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #0d0d0d; 
    color: #e0e0e0; 
    line-height: 1.6;
}

header {
    background-size: cover;
    background-position: center;
    padding: 30px 0;
    text-align: center;
    border-bottom: 3px solid #5a5eff; 
    position: relative; 
}

header h1 {
    font-size: 3rem;
    color: #5a5eff; 
    position: relative;
    z-index: 1; 
}

header nav {
    margin-top: 20px;
}

header nav a {
    text-decoration: none;
    color: #5a5eff; 
    font-size: 1.2rem;
    margin: 0 20px;
    transition: color 0.3s ease;
}

header nav a:hover {
    color: #a0a0ff; 
}

.Thaina {
    width: 150px;
    border-radius: 50%;
    border: 3px solid #5a5eff; 
    margin-top: 15px;
    position: relative;
    z-index: 2; 
}

#container {
    max-width: 1200px;
    margin: 50px auto;
    padding: 20px;
    background: #1a1a1a; 
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(151, 71, 255, 0.562);
}

h1,
h2,
h3,
h4 {
    color: #5a5eff; 
}

p {
    font-size: 1.1rem;
    text-align: justify;
}

form {
    margin: 20px 0;
}

label {
    display: block;
    margin: 10px 0;
    color: #5a5eff; 
}

input,
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    background-color: #333; 
    border: none;
    border-radius: 5px;
    color: #f0f0f0; 
}

input:focus,
textarea:focus {
    outline: none;
    border: 2px solid #5a5eff;
    background-color: #444;
}

button {
    background-color: #5a5eff; 
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #7700ff; 
}

.project-list {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 20px;
}

.project-card {
    display: block;
    border: 1px solid #333;
    padding: 20px;
    margin: 10px;
    text-decoration: none;
    color: inherit;
    border-radius: 8px;
    background-color: #333;
    transition: background-color 0.3s ease;
}

.project-card:hover {
    background-color: #7343bf; 
    cursor: pointer;
}

.project-card a {
    color: #8a69be; 
    font-weight: bold;
    text-decoration: none;
    transition: color 0.3s ease;
}

.project-card a:hover {
    color: #a0a0ff; 
}

textarea {
    resize: none;
}

#contact {
    margin-top: 50px;
    border: 2px dotted #5a5eff; 
    padding: 30px;
}

.github {
    width: 100px; 
    height: auto; 
    margin-top: 25px; 
}

.linkedin {
    width: 70px; 
    height: auto; 
    margin-top: 15px; 
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #1a1a1a; 
    border-top: 3px solid #5a5eff; 
}

footer p {
    color: #f0f0f0; 
    font-size: 0.9rem;
}
