* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {   
    font-family: 'Arial', sans-serif;
    background-color: #0d0d0d;
    color: #f0f0f0; 
    line-height: 1.6;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    flex-direction: column;
}

header.cabecalho {
    position: absolute;
    top: 20px;
    left: 20px;
}

header a.voltar {
    text-decoration: none;
    color: #5a5eff; 
    font-size: 1.2rem;
    background-color: #1a1a1a; 
    padding: 10px 20px;
    border-radius: 5px;
    border: 2px solid #5a5eff; 
    transition: background-color 0.3s ease, color 0.3s ease;
}

header a.voltar:hover {
    background-color: #5a5eff; 
    color: #1a1a1a; 
}

.container {
    background-color: #1a1a1a; 
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(151, 71, 255, 0.562); 
    text-align: center;
    max-width: 500px;
    width: 100%;
    margin-bottom: 20px; 
}

.mensagem-container {
    background-color: #1a1a1a; 
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(151, 71, 255, 0.562); 
    text-align: center;
    max-width: 500px;
    width: 100%;
}

h1 {
    font-size: 2.5rem;
    color: #5a5eff; 
    margin-bottom: 20px;
}

footer {
    margin-top: 40px;
    text-align: center;
    padding: 20px;
    background-color: #1a1a1a; 
    border-top: 3px solid #5a5eff;
}

footer p.copyrigth {
    color: #f0f0f0; 
    font-size: 0.9rem;
}
